.article-title {
	//博客中文章的标题样式
	font-weight:bold;
	margin-top:36px;
}
.article-underline {
	//博客中横线样式
	height:1px;
	border-bottom:1px solid #ccc;
	overflow:hidden;
	margin-top:8px;
	margin-bottom:8px;
}
.personal-title-underline {
	//个人中心标题下面的横线样式
	height:1px;
	border-bottom:1px solid #ccc;
	overflow:hidden;
	margin-top:15px;
	margin-bottom:10px;
}
.personal-left-blank {
	margin-left:10px;
	margin-bottom:10px;
}
.blog-bread {
	font-size:150%;
	color:black;
	font-weight:bold;
}
.w-e-text-container{
    height: 100% !important;/*!important是重点，因为原div是行内样式设置的高度300px*/
}












.file-box {
    position: relative;
    display: inline-block;
}
.file-box img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: 0;
    display: inline-block;
    border: none;
}
.file-box .txt,.file-box .file {
    width: 70px;
    height: 36px;
    position: absolute;
    top: -20px;
    left: 100px;
    text-align: center;
}
